.UIContentTopper {
	margin: 50px auto 15px; padding: 14px 0px 0px 17px; border-top-color: rgb(211, 218, 230); border-top-width: 2px; border-top-style: solid;
}
.UIContentTopperSlim {
	margin: 0px auto 15px; padding: 0px 0px 0px 17px;
}
.UIContentTopper_footer {
	margin: 5px auto 0px; width: 578px; font-size: 9px;
}
.UIContentTopper_text_container {
	width: 465px; margin-top: 6px; float: left;
}
.UIContentTopper_text_headline {
	font-size: 15px; font-weight: bold;
}
.UIContentTopper_text {
	font-size: 11px; margin-top: 4px;
}
.UIContentTopper_large .UIContentTopper_text {
	width: 400px;
}
.UIContentTopper_text_bold {
	font-weight: bold;
}
.UIContentTopper_thumbnail {
	margin: 0px 15px 0px 0px; float: left;
}
.UIContentTopper .verticalAlign {
	margin-top: 8px;
}
#captcha fieldset {
	margin: 0px; padding: 10px; border-top-color: rgb(192, 192, 192); border-bottom-color: rgb(192, 192, 192); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
#captcha legend {
	color: gray;
}
#captcha .divider {
	display: none;
}
#captcha .captcha_refresh {
	color: gray; font-size: 9px;
}
#captcha .recaptcha_text {
	line-height: 16px; font-size: 11px;
}
#captcha .captcha_optout {
	padding: 10px 0px 5px; font-size: 11px;
}
#captcha #recaptcha_image {
	margin: 10px 0px 0px; font-weight: bold;
}
#captcha #recaptcha_image a.recaptcha_audio_cant_hear_link {
	font-weight: normal; display: block;
}
#captcha .captcha_loading {
	border: 0px currentColor; border-image: none;
}
#captcha .captcha_image img {
	border: 1px solid rgb(190, 195, 201); border-image: none;
}
#captcha .captcha_input input {
	width: 137px; margin-top: 4px; direction: ltr;
}
#captcha .captcha_input label {
	margin-right: 4px;
}
.register #captcha .captcha_input label {
	color: rgb(102, 102, 102); font-weight: bold;
}
.captcha#generic_dialog .generic_dialog_popup {
	width: 340px;
}
.captcha#generic_dialog #generic_dialog_popup {
	margin: auto; border: 0px solid white; border-image: none;
}
.captcha#generic_dialog #generic_dialog_popup legend {
	display: none;
}
.audiocaptcha {
	margin: 0px; padding: 0px; overflow: hidden; display: block;
}
.audiocaptcha a {
	display: block;
}
.recaptcha_is_showing_audio .recaptcha_only_if_image {
	display: none !important;
}
.recaptcha_is_showing_audio .recaptcha_only_if_audio {
	display: inline !important;
}
.captcha_interstitial {
	margin: 20px auto; padding: 20px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 555px;
}
._5iyz {
	max-width: 400px;
}
._7kq {
	width: 475px; text-align: center; margin-top: 52px;
}
._7ku {
	text-align: center;
}
._7kw {
	width: 270px; text-align: center; color: rgb(59, 89, 152); line-height: 48px; font-family: "HelveticaNeue-Thin", Helvetica, Arial, sans-serif; font-size: 45px; margin-top: 20px; margin-left: 100px; word-spacing: -1px;
}
._15lf {
	width: 300px; text-align: center; color: rgb(59, 89, 152); line-height: 30px; font-family: "Freight Sans Semibold","Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 28px; margin-top: 15px; margin-left: 100px; word-spacing: -1px;
}
._7kx {
	width: 270px; text-align: center; color: rgb(75, 79, 86); line-height: 30px; font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif; font-size: 25px; margin-top: 15px; margin-left: 100px; word-spacing: -1px;
}
._15lg {
	width: 300px; text-align: center; color: rgb(29, 33, 41); line-height: 26px; font-family: "Freight Sans Pro Book","Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 20px; margin-top: 15px; margin-left: 100px; word-spacing: -1px;
}
._7ky {
	width: 475px; text-align: center; margin-top: 20px;
}
._7kz {
	width: 30px; height: 30px; text-align: center;
}
._7k- {
	width: 565px; margin-right: 15px;
}
._6j {
	border-radius: 5px; border: 1px solid currentColor; border-image: none; color: rgb(255, 255, 255); letter-spacing: 1px; display: inline-block; position: relative; cursor: pointer; text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}
._6nw ._6j {
	font-size: 23px;
}
._6j:hover {
	text-decoration: none;
}
._6wk {
	padding: 20px 30px;
}
._6wl {
	background: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67)) rgb(105, 167, 78); border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21); box-shadow: inset 0px 1px 1px #a4e388;
}
._6wl:hover {
	background: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}
._6wm {
	border-width: 0px; box-shadow: inset 0px 1px 1px #acee8f, 0px 1px 5px #000;
}
._6wm:active {
	box-shadow: inset 0px 1px 1px #acee8f, 0px 0px 3px #000;
}
._6wn {
	background: linear-gradient(rgb(105, 143, 191), rgb(80, 111, 165)) rgb(66, 103, 178); border-color: rgb(41, 72, 125) rgb(41, 72, 124) rgb(26, 58, 109); box-shadow: inset 0px 1px 1px #96b7f1;
}
._6wn:hover {
	background: linear-gradient(rgb(125, 157, 206), rgb(80, 111, 165));
}
._6wo {
	border-width: 0px; box-shadow: inset 0px 1px 1px #96b7f1, 0px 1px 5px #000;
}
._6wo:active {
	box-shadow: inset 0px 1px 1px #96b7f1, 0px 0px 3px #000;
}
._5z9j {
	background: linear-gradient(rgb(206, 101, 101), rgb(168, 70, 70)) rgb(250, 62, 62); border-color: rgb(99, 16, 16) rgb(124, 40, 40) rgb(109, 26, 26); box-shadow: inset 0px 1px 1px #f09595;
}
._5z9j:hover {
	background: linear-gradient(rgb(224, 125, 125), rgb(175, 75, 75));
}
._5z9k {
	border-width: 0px; box-shadow: inset 0px 1px 1px #f09595, 0px 1px 5px #000;
}
._5z9k:active {
	box-shadow: inset 0px 1px 1px #f09595, 0px 0px 3px #000;
}
._6j:active {
	top: 1px;
}
._67u {
	background: linear-gradient(rgb(253, 253, 253), rgb(229, 229, 229)) rgb(245, 246, 247); border-color: rgb(166, 166, 166) rgb(149, 149, 149) rgb(149, 149, 149); top: 0px; color: rgb(184, 184, 184); cursor: default; box-shadow: inset 0px 1px 1px #fff; text-shadow: none;
}
._67u:hover {
	background: linear-gradient(rgb(253, 253, 253), rgb(229, 229, 229)) rgb(245, 246, 247); border-color: rgb(166, 166, 166) rgb(149, 149, 149) rgb(149, 149, 149); top: 0px; color: rgb(184, 184, 184); cursor: default; box-shadow: inset 0px 1px 1px #fff; text-shadow: none;
}
._67u:active {
	background: linear-gradient(rgb(253, 253, 253), rgb(229, 229, 229)) rgb(245, 246, 247); border-color: rgb(166, 166, 166) rgb(149, 149, 149) rgb(149, 149, 149); top: 0px; color: rgb(184, 184, 184); cursor: default; box-shadow: inset 0px 1px 1px #fff; text-shadow: none;
}
._6wp {
	box-shadow: inset 0px 1px 1px #fff, 0px 0px 3px #000;
}
._50qd {
	padding-top: 9px; position: absolute;
}
._58mq select {
	padding: 5px; height: 30px; font-size: 13px;
}
._5k_4 {
	display: inline-block;
}
._5k_5 {
	position: relative;
}
._58ms {
	vertical-align: middle; display: inline-block; max-width: 140px;
}
._5dva {
	padding-right: 6px;
}
._58ms {
	font-size: 11px; max-width: 150px;
}
._58mq ._5k_5 ._5k_6 {
	top: 4px;
}
._58mq ._5k_5 ._5k_7 {
	top: 4px;
}
._5633 {
	padding: 13px; font-size: 13px; max-width: 300px;
}
._2zot {
	padding: 16px; max-width: 300px;
}
._2zou {
	color: rgb(29, 33, 41); line-height: 17px; font-size: 14px; font-weight: bold; margin-bottom: 12px;
}
._2zow {
	color: rgb(91, 92, 94); font-size: 13px;
}
._2acm {
	margin-bottom: -10px;
}
._2acn {
	line-height: 14px; padding-top: 6px; font-size: 12px;
}
._2acn ._2aco {
	color: rgb(28, 30, 33); line-height: 14px; font-size: 12px;
}
._2acn ._2acp {
	color: rgb(250, 62, 62);
}
._2acn ._2acq {
	color: rgb(66, 183, 42);
}
._2acn ._2act {
	color: rgb(97, 103, 112); line-height: 14px; padding-top: 2px; font-size: 12px; min-height: 30px;
}
._1pd1._2acn {
	background: none; color: rgb(250, 62, 62);
}
._1pd0 {
	padding: 6px 6px 6px 0px; color: red; line-height: 17px; font-size: 14px; font-weight: bold; max-width: 400px;
}
._1pd0 a {
	color: red; text-decoration: underline;
}
._1ixn ._1pd0 {
	margin-top: -10px;
}
._1ixn ._1pc_ {
	margin-top: -10px; display: none;
}
._5634._1ixn ._1pc_ {
	display: block;
}
._1pc- ._1iy_ ._5633 {
	display: none;
}
._5634._5633 {
	color: rgb(255, 255, 255);
}
._1pc_ ._5634._5633 {
	background: none; padding: 6px 6px 6px 0px; color: red; font-size: 14px; font-weight: bold; max-width: 400px;
}
._5635._5633 {
	background: rgb(221, 174, 43); color: rgb(255, 255, 255);
}
._58mf div._5634 ._5dba {
	border-style: solid; border-color: red;
}
._58mf ._5635 ._5dba {
	border-style: solid; border-color: rgb(221, 174, 43);
}
._58mf ._5636 ._5dba {
	border-style: solid; border-color: rgb(111, 181, 84);
}
._58mf div._1pd1 ._5dba {
	border-style: solid; border-color: red;
}
._5dbb {
	position: relative;
}
._5dbb ._5dbc {
	top: 9px; right: 9px; display: none; position: absolute;
}
._5dbb ._5dbd {
	top: 9px; right: 9px; display: none; position: absolute;
}
._5634._5dbb ._5dbc {
	display: inline;
}
._5635._5dbb ._5dbd {
	display: inline;
}
._5dbb ._1pc_ {
	display: none;
}
._1pd1._5634 ._1pc_ {
	color: red; display: inline;
}
._1pd1._5634 ._5dbc {
	display: none;
}
._58mf {
	margin: 0px auto; padding-bottom: 30px;
}
.timelineSignUpDialog ._58mf {
	padding-bottom: 0px;
}
._58mf ._6o {
	font-size: 19px;
}
._58mf ._6p {
	font-size: 17px;
}
._2_68 {
	color: rgb(29, 33, 41); font-size: 18px; font-weight: normal;
}
._59zo ._2_68 {
	color: rgb(144, 148, 156); font-size: 16px; float: left;
}
._58mi {
	padding: 7px 20px; text-align: center; min-width: 194px;
}
._ngk {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)) rgb(91, 147, 252);
}
._58mj {
	font-size: 16px;
}
._58mk {
	color: rgb(102, 102, 102); padding-top: 15px; font-size: 13px; font-weight: bold; margin-top: 10px; border-top-color: rgb(221, 223, 226); border-top-width: 1px; border-top-style: solid;
}
._58ml {
	top: 3px; margin-left: 10px; position: relative;
}
._58mm {
	float: left;
}
._58mn {
	background: rgb(255, 235, 232); margin: 12px 0px; border: 1px solid rgb(221, 60, 16); border-image: none; text-align: center; line-height: 15px; overflow: hidden;
}
._58mo {
	padding: 7px 3px;
}
._28r2 {
	width: 399px; text-align: right;
}
._2rs6 ._2rs9 {
	font-weight: bold;
}
._2rs6 ._2rsa {
	min-width: 50px;
}
._a4y {
	display: inline-block; position: relative;
}
._a4y ._a4z {
	padding: 12px; border-radius: 6px; border: 1px solid rgb(28, 30, 33); transition:opacity 1s; border-image: none; top: -5px; width: 200px; text-align: left; right: 105%; color: rgb(28, 30, 33); font-size: 14px; visibility: hidden; position: absolute; z-index: 1; opacity: 0; box-shadow: 0px 3px 8px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);
}
._a4y ._a4z::before {
	border-width: 6px; border-style: solid; border-color: transparent transparent transparent rgb(28, 30, 33); left: 100%; top: 20%; margin-top: -6px; position: absolute; content: " ";
}
._a4y ._a4z::after {
	border-width: 5px; border-style: solid; border-color: transparent transparent transparent rgb(255, 255, 255); left: 100%; top: 20%; margin-top: -5px; position: absolute; content: " ";
}
._58mf ._58mg {
	border-color: rgb(189, 199, 216); margin: 0px; border-radius: 5px; width: 377px;
}
._58mf .uiStickyPlaceholderInput {
	background: white; border-radius: 5px; width: 399px;
}
._58mf .uiStickyPlaceholderInput .placeholder {
	overflow: hidden; padding-left: 11px; white-space: nowrap; -ms-word-wrap: normal; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
._58mf ._58mg {
	padding: 8px 10px; font-size: 18px;
}
._58mf .uiStickyPlaceholderInput .placeholder {
	padding: 8px 10px; font-size: 18px;
}
._58mh {
	width: 399px;
}
._58mh ._58mg {
	width: 172px;
}
._58mh .uiStickyPlaceholderInput {
	width: 194px;
}
._14f2 {
	
}
._4f2w ._54ne ._54nc {
	color: rgb(66, 103, 178);
}
._4f2w {
	font-size: 18px; margin-top: -4px;
}
._4f2w ._54ng {
	border-width: 1px; border-style: solid; border-color: rgb(221, 223, 226) rgb(189, 199, 216) rgb(189, 199, 216); border-image: none; width: 397px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; box-shadow: 0px 4px 8px -5px #999; background-color: rgb(255, 255, 255);
}
._4f2w ._54nc {
	padding: 8px 10px; color: rgb(64, 128, 255);
}
._4tjo ._52lp ._52lq {
	color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 40px; font-weight: bold; white-space: nowrap;
}
#facebook ._4tjo ._52lp :lang(en)._52lq {
	letter-spacing: normal; font-family: "Freight Sans Bold", Helvetica, Arial, sans-serif; font-weight: normal;
}
._59d-._52lp ._52lq {
	font-size: 36px;
}
._59zm._52lp ._52lq {
	text-align: center; color: rgb(29, 33, 41); font-family: Helvetica, Arial, sans-serif; font-size: 30px;
}
._4tjo ._52lp ._52lr {
	color: rgb(75, 79, 86); line-height: 28px; font-family: Helvetica, Arial, sans-serif; font-size: 22px; font-weight: normal;
}
#facebook ._4tjo ._52lp :lang(en)._52lr {
	letter-spacing: normal; font-family: "Freight Sans", Helvetica, Arial, sans-serif;
}
._59d-._52lp ._52lr {
	color: rgb(29, 33, 41); font-size: 19px;
}
._59zm._52lp ._52lr {
	text-align: center; color: rgb(144, 148, 156); font-family: Helvetica, Arial, sans-serif; font-size: 16px;
}
._4tjo ._52lp ._2z12 {
	margin: 0px; text-align: center; line-height: 26px; padding-right: 20px; padding-left: 20px; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; white-space: normal;
}
._572t ._53iv {
	padding: 12px;
}
._572t ._53ij {
	border-radius: 2px; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); box-shadow: 0px 0px 0px 1px rgba(139,3,0,0.75), 0px 1px 10px rgba(0,0,0,0.35); background-color: rgb(190, 75, 73);
}
._572t ._53ij a {
	color: rgb(255, 255, 255); font-weight: bold;
}
._572t ._572u {
	border-color: rgb(221, 223, 226); margin: 0px 12px; padding: 8px 0px; background-color: rgb(190, 75, 73);
}
._572t ._5v-0 {
	padding-bottom: 18px;
}
._572t ._53il {
	padding-top: 18px;
}
._572t ._53im {
	padding-right: 18px;
}
._572t ._53ik {
	padding-bottom: 18px;
}
._572t ._53in {
	padding-left: 18px;
}
._572t ._53il ._53io {
	background-position: 0px -59px; top: 7px; width: 22px; height: 11px; background-image: url("/rsrc.php/v3/yv/r/wV5BrkwDjtF.png"); background-repeat: no-repeat; background-size: auto;
}
._572t ._53im ._53io {
	background-position: 0px -36px; width: 11px; height: 22px; right: 7px; background-image: url("/rsrc.php/v3/yv/r/wV5BrkwDjtF.png"); background-repeat: no-repeat; background-size: auto;
}
._572t ._53ik ._53io {
	background-position: 0px 0px; width: 22px; height: 13px; bottom: 5px; background-image: url("/rsrc.php/v3/yv/r/wV5BrkwDjtF.png"); background-repeat: no-repeat; background-size: auto;
}
._572t ._53in ._53io {
	background-position: 0px -13px; left: 7px; width: 11px; height: 22px; background-image: url("/rsrc.php/v3/yv/r/wV5BrkwDjtF.png"); background-repeat: no-repeat; background-size: auto;
}
.sp_WsUp3ca6zQF {
	width: 22px; height: 22px; display: inline-block; background-image: url("/rsrc.php/v3/yv/r/wV5BrkwDjtF.png"); background-repeat: no-repeat; background-size: auto;
}
.sx_2be98b.sp_WsUp3ca6zQF {
	background-position: 0px 0px; height: 12px;
}
.sx_542ebc.sp_WsUp3ca6zQF {
	background-position: 0px -13px; width: 11px;
}
.sx_3b9172.sp_WsUp3ca6zQF {
	background-position: 0px -36px; width: 11px;
}
.sx_640d68.sp_WsUp3ca6zQF {
	background-position: 0px -59px; height: 11px;
}
#bootloader_V9lY5 {
	height: 42px;
}
.bootloader_V9lY5 {
	display: block !important;
}
